services:
    api:
        build:
            context: .
            dockerfile: app/Dockerfile
        container_name: fast_api_scraper_dev
        ports:
            - '8000:8000'
        volumes:
            - ./app:/app/app
        command: >
            uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    worker:
        build:
            context: .
            dockerfile: worker/Dockerfile
        container_name: fast_api_worker
        volumes:
            - ./worker:/app
        environment:
            - RABBITMQ_HOST=rabbitmq
            - REDIS_HOST=redis
        depends_on:
            - rabbitmq
            - redis

    rabbitmq:
        image: rabbitmq:3.13-management-alpine
        container_name: rabbitmq
        ports:
            - '5672:5672'
            - '15672:15672'
        environment:
            - RABBITMQ_DEFAULT_USER=user
            - RABBITMQ_DEFAULT_PASS=password

    redis:
        image: redis:7-alpine
        container_name: redis
        ports:
            - '6379:6379'
