
services:
  api:
    build: .
    container_name: fast_api_scraper_dev
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
