[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I"]
ignore = ["E722"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.lint.isort]
case-sensitive = true
